html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--color-white);
  color: var(--color-dark-grey);
  -webkit-tap-highlight-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
}

input, textarea {
  font-family: var(--font);
  font-size: 1.4rem;
  border: none;
  padding: 0 2rem;
  border-radius: 15px;
  outline: none;
  width: 100%;
  font-weight: 500;

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  height: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
}

.heading {
  margin-bottom: 2rem;
}

.separator {
  display: block;
  height: 2px;
  background: var(--color-very-light-grey);
}

.main {
  margin-inline: 2rem;
}

.hide-for-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hl {
  color: var(--color-light-red);
}

.grid {
  display: grid;

  &--recipes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
    
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
    
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }
}