html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--color-white);
}

input {
  font-family: var(--font);
  border: none;
  padding: 0 2rem;
  border-radius: 15px;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
}

.hide-for-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}