html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--font);
  background: var(--background-color);
  color: var(--font-color);
  -webkit-tap-highlight-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 150ms;

  &::-webkit-scrollbar {
    width: 15px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-black-low-opacity);
    border: 4px solid transparent;
    background-clip: content-box;
  }
  
  &[data-theme='dark']::-webkit-scrollbar-thumb {
    background: var(--color-grey-low-opacity);
    border-radius: 10px;
    background-clip: content-box;
  }

  ::selection {
    background: var(--color-light-red);
    color: var(--content-color);
  }
}

input, textarea {
  font-family: var(--font);
  font-size: 1.4rem;
  border: none;
  padding: 0 2rem;
  border-radius: 15px;
  outline: none;
  width: 100%;
  font-weight: 500;
  background: var(--content-color);
  color: var(--font-color);
  transition: background 150ms, color 150ms;

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

label {
  color: var(--font-color);
  font-size: 1.4rem;

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
  }
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  height: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
  padding: 8rem 2rem;
}

.heading {
  margin-bottom: 2rem;
}

.separator {
  display: block;
  height: 2px;
  background: var(--outline-color);
}

.hide-for-mobile {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.hl {
  color: var(--color-light-red);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  
  &--recipes {
    grid-template-columns: repeat(1, minmax(30rem, max-content));
    gap: 2rem;
    
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(30rem, max-content));
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(30rem, max-content));
    }
    
    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(4, minmax(30rem, max-content));
    }
  }
}

