:root {
  --font: 'Nunito', sans-serif;;
  --shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  --inner-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  --color-white: #fff;
  --color-black: #000;
  --color-black-low-opacity: rgba(0, 0, 0, 0.5);
  --color-grey: #797979;
  --color-very-light-grey: #d0d0d0;
  --color-dark-grey: #222222;
  --color-light-red: #EB6161;
}