:root {
  --background-color: #fff;
  --background-color-inverse: #1C1C1C;
  --content-color: #f6f6f6;
  --font-color: #222;
  --outline-color: var(--color-very-light-grey);
  --font: 'Nunito', sans-serif;;
  --shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  --inner-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.1);
  --inner-thick-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
  --color-white: #fff;
  --color-black: #000;
  --color-black-low-opacity: rgba(0, 0, 0, 0.5);
  --color-grey: #797979;
  --color-grey-low-opacity: rgba(121, 121, 121, 0.6);
  --color-very-light-grey: #d0d0d0;
  --color-very-light-grey-low-opacity: rgba(208, 208, 208, 0.1);
  --color-dark-grey: #222222;
  --color-light-red: #F26C4F;
}

[data-theme='dark'] {
  --background-color: #1C1C1C;
  --background-color-inverse: #fff;
  --content-color: #232323;
  --font-color: #ededed;
  --outline-color: #282828;
}