.btn {
  font-family: var(--font);
  background: none;
  padding: 1.5rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-weight: 500;
  cursor: pointer;
  transition: all 50ms;
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  &.small {
    padding: 0.8rem 1rem;
  }

  &.w100 {
    width: 100%;
  }

  &.icon {
    padding: 1rem;
  }

  &:active {
    transform: scale(0.97);
  }

  &--primary {
    background: var(--color-light-red);
    color: var(--color-white);
  }

  &--secondary {
    background: var(--content-color);
    color: var(--font-color);
    outline: 2px solid var(--outline-color);
  }
}