.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    max-width: 100rem;
    margin-inline: auto;
  }

  &__image {
    border-radius: 15px;
    height: 8rem;
    width: 8rem;
    flex-shrink: none;
  }

  &__name {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__heading {
    display: inline;
  }

  &__name {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }

  &__button {
    user-select: none;
    cursor: pointer;
    line-height: 0;
    padding: 0.3rem;
    border-radius: 10px;
    transition: background 100ms;

    &:hover {
      background: var(--color-very-light-grey-low-opacity);
    }
  }

  &__recipes {
    width: fit-content;
    margin-inline: auto;
  }
}