.recipepage {
  &__top {
    position: relative;
    overflow: hidden;
    background: var(--color-dark-grey);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  &__title-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 30px;
    text-align: center;
    gap: 2rem;
    max-width: 60rem;
  }
  
  &__image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    -webkit-filter: blur(0.3rem) contrast(110%);
    filter: blur(0.3rem) contrast(110%);
    opacity: 0.7;
    transform: scale(1.03);
    user-select: none;

    @media screen and (min-width: 768px) {
      max-height: 80rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 4.5rem;
    color: var(--color-white);
    line-height: 1.05;

    @media screen and (min-width: 768px) {
      font-size: 6.2rem;
    }
  }
  
  &__timetocook {
    color: var(--color-white);

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__cuisine, &__mealtype {
    position: relative;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    overflow: hidden;
  }
 
  &__container {
    display: flex;
    flex-direction: column;
    gap: 8rem;

    @media screen and (min-width: 480px) {
      gap: 3rem;
      flex-direction: row;
    }

    @media screen and (min-width: 1024px) {
      gap: 6rem;
    }

    &--left {

    }

    &--right {

    }
  }


  &__ingridients {
    display: flex;
    flex-direction: column;
    width: max-content;
    width: 100%;
    gap: 1.5rem;

    @media screen and (min-width: 600px) {
      width: 25rem;
    }

    @media screen and (min-width: 768px) {
      width: 35rem;
    }
  }

  &__ingridient {
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 30px;
    background: var(--content-color);
    overflow: hidden;

    &--dot {
      width: 1.25rem;
      height: 1.25rem;
      background: var(--color-light-red);
      border-radius: 50px;
      flex-shrink: 0;
      transition: 175ms;
    }
  }

  &__instructions {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
  }

  &__instruction {
    display: flex;
    gap: 1.5rem;
    position: relative;
    font-size: 1.8rem;
    border-radius: 30px;
    
    &:hover &--number {
      color: var(--color-light-red);
    }

    &--number {
      position: relative;
      font-size: 2.6rem;
      width: 3rem;
      flex-shrink: 0;
      text-align: end;
      color: var(--color-grey);
      top: -0.3rem;
      transition: all 200ms;
    }

    &--value {
      font-size: 2rem;
    }
  }
}