.filter {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  padding: 7rem 2rem 2rem;
  border-radius: 20px;
  margin-inline: 2rem;
  top: 1rem;
  
  @media screen and (min-width: 768px) {
    margin-inline: auto;
    max-width: 510px;
    padding-top: 6rem;
  }
  
  &__input {
    padding: 1rem 2rem;
    border-radius: 0;
    border-bottom: 2px solid var(--outline-color);
    border-radius: 15px;
  }

  
  &__ingridients {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  &__heading {
    margin: 1.5rem 0rem;
  }

  &__meals {
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
    font-weight: 500;
    overflow-x: scroll;
    font-size: 1.6rem;

    @media screen and (min-width: 1024px) {
      overflow-x: hidden;
      flex-wrap: wrap;
    }

    &::-webkit-scrollbar {
      display: block;
    }
  }
  
  &__meal {
    background: var(--content-color);
    border-radius: 5px;
    outline: 2px solid var(--outline-color);
    padding: 0.5rem 0.8rem;
    text-align: center;
    width: fit-content;
    cursor: pointer;
    transition: outline-color 150ms;
    user-select: none;

    &.selected {
      outline-color: var(--color-light-red);
    }
  }
}