.switcher {
  position: relative;
  width: 10rem;
  height: 5rem;
  border-radius: 50px;
  padding: 1rem;
  outline: 2px solid var(--outline-color);
  cursor: pointer;
  transition: outline 150ms;
  background: var(--content-color);
  z-index: 50;
  user-select: none;

  &__round {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background: var(--background-color-inverse);
    box-shadow: var(--inner-shadow);
    right: 1.25rem;
    z-index: 2;

    &.active {
      right: inherit;
      left: 1.25rem;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 200ms;
    left: inherit;
    right: inherit;
    width: 3.5rem;

    &--sun {
      left: 1rem;
    }

    &--moon {
      left: 5.7rem;
    }
  }
}