.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-black-low-opacity);
  z-index: 11111;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  user-select: none;

  &__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  background: var(--background-color);
  border-radius: 30px;
  user-select: text;

    &--initial {
      padding: 4rem 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      text-align: center;
      background: var(--background-color);
      border-radius: 30px;
    }

    @media screen and (min-width: 768px) {
      width: 50rem;
      margin-inline: auto;
    }
  }

}