.nav {
  width: 100vw;
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  pointer-events: none;

  &__menu {
    pointer-events: all;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    padding: 1rem;
    background: var(--color-white);
    outline: 2px solid var(--color-very-light-grey);
    max-width: fit-content;
    gap: 2rem;
    border-radius: 10px;
    min-height: 4rem;
  }

  &__link-image {
    width: 4rem;
  }
}