.nav {
  position: relative;
  width: 100vw;
  position: fixed;
  z-index: 99;
  pointer-events: none;
  user-select: none;

  &__menu {
    position: relative;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    pointer-events: all;
    display: flex;
    padding: 1rem 2rem;
    background: var(--color-white);
    width: fit-content;
    gap: 1.5rem;
    border-radius: 60px;
    min-height: 3rem;
    transition: all 150ms;
    z-index: 9999;

    @media screen and (min-width: 768px) {
      top: 3rem;
      left: 4rem;
    }
  }

  &__bg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-dark-grey);
    pointer-events: all;
  }

  &__search {
    cursor: pointer;
    line-height: 0;

    &--image {
      width: 3.5rem;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    gap: 0.4rem;
    cursor: pointer;

    > span {
      position: relative;
      display: block;
      width: 3.2rem;
      height: 0.33rem;
      border-radius: 5px;
      background: var(--color-dark-grey);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  &__link {
    text-align: center;
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 700;

    &.active {
      color: var(--color-light-red);
    }
  }
}