.nav {
  width: 100vw;
  position: fixed;
  bottom: 1rem;
  z-index: 99;
  pointer-events: none;
  user-select: none;

  &__menu {
    pointer-events: all;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;
    padding: 0.5rem;
    background: var(--background-color);
    outline: 2px solid var(--outline-color);
    max-width: fit-content;
    gap: 2rem;
    border-radius: 10px;
    min-height: 3rem;
    transition: all 150ms;
  }

  &__link {
    cursor: pointer;
  }

  &__link-image {
    width: 4rem;
  }
}