.recipe {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--background-color);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: background 150ms;
  text-align: center;

  &:hover &__title {
    color: var(--color-light-red);
  }
  
  &__container {
    position: relative;
  }
  
  &__image {
    height: 30rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 30px;
    background: var(--content-color);
  }

  &__title {
    margin: 0.5rem 0 0.5rem;
    font-weight: 700;
    font-size: 2.2rem;
    transition: color 250ms;
    letter-spacing: 0.5px;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    opacity: 0.6;
    font-weight: 400;
  }

  &__hot {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    background: var(--background-color);
    border-radius: 50px;
    line-height: 0;
    padding: 0.7rem;
    transition: background 150ms;

    &:hover > span {
      opacity: 1;
    }
  }
}