.loginmodal {
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}